@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
  background: black;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.img__container {
  background: url(assets/img/gojira.png) center center;
  box-shadow: 0 0 8px 8px black inset;
  border-radius: 20px;
  width: 1440px;
  height: 900px;
}

#bands {
  list-style: inside square;
  font-size: 1em;
  background: white;
  margin: auto;
  padding: 0;
  box-shadow: 0 0 0 0.5em rgba(255, 255, 255, 0.2);
  position: absolute;
  border-radius: 20px;
  left: 500px;
}

#bands li {
  border-bottom: 1px solid #efefef;
  padding: 20px;
}

#bands li:last-child {
  border-bottom: 0;
}

a {
  color: #fcc600;
  text-decoration: none;
}